<% tags = tags.accessible_by(current_ability) %>
<% team = @team %>
<% context ||= team %>
<% collection ||= :projects_tags %>
<% hide_actions ||= false %>
<% hide_back ||= false %>

<% pagy ||= nil %>
<% pagy, tags = pagy(tags, page_param: :tags_page) unless pagy %>

<%= action_model_select_controller do %>
  <% updates_for context, collection do %>
    <%= render 'account/shared/box', pagy: pagy do |p| %>
      <% p.content_for :title, t(".contexts.#{context.class.name.underscore}.header") %>
      <% p.content_for :description do %>
        <%= t(".contexts.#{context.class.name.underscore}.description#{"_empty" unless tags.any?}") %>
        <%= render "shared/limits/index", model: tags.model %>
      <% end %>

      <% p.content_for :table do %>
        <% if tags.any? %>
          <table class="table">
            <thead>
              <tr>
                <%= render "shared/tables/select_all" %>
                <th><%= t('.fields.name.heading') %></th>
                <%# 🚅 super scaffolding will insert new field headers above this line. %>
                <th><%= t('.fields.created_at.heading') %></th>
                <th class="text-right"></th>
              </tr>
            </thead>
            <tbody>
              <% tags.each do |tag| %>
                <%= render 'account/projects/tags/tag', tag: tag %>
              <% end %>
            </tbody>
          </table>
        <% end %>
      <% end %>

      <% p.content_for :actions do %>
        <% unless hide_actions %>
          <% if context == team %>
            <% if can? :create, Projects::Tag.new(team: team) %>
              <%= link_to t('.buttons.new'), [:new, :account, team, :projects_tag], class: "#{first_button_primary(:projects_tag)} new" %>
            <% end %>
          <% end %>

          <%# 🚅 super scaffolding will insert new targets one parent action model buttons above this line. %>
          <%# 🚅 super scaffolding will insert new bulk action model buttons above this line. %>
          <%= render "shared/bulk_action_select" %>

          <% unless hide_back %>
            <%= link_to t('global.buttons.back'), [:account, context], class: "#{first_button_primary(:projects_tag)} back" %>
          <% end %>
        <% end %>
      <% end %>

      <% p.content_for :raw_footer do %>
        <%# 🚅 super scaffolding will insert new action model index views above this line. %>
      <% end %>
    <% end %>
  <% end %>
<% end %>
